<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoPackageScriptDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>66FEA61F34A00FDFF74D7EC88572734DE25E221E</string>
				<key>dateExpires</key>
				<string>2023/10/15</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VP7UV49VBW.com.cute.dev1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VP7UV49VBW</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>AutoPackageScriptDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>416e40d8-221d-439e-aad1-74d8dce5f5f1</string>
				<key>dateExpires</key>
				<string>2023/11/10</string>
				<key>name</key>
				<string>1023dev1_profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VP7UV49VBW</string>
				<key>name</key>
				<string>Linjing Chen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
